examples/03_simple-send.json
[{"id":"c5d5b3e8.6ff97","type":"inject","z":"db587536.424098","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"content\":\"Hello MAG\"}","payloadType":"json","x":240,"y":940,"wires":[["88ff44c7.a2f5f8"]]},{"id":"88ff44c7.a2f5f8","type":"send","z":"db587536.424098","account":"c3526664.d4a858","receiverNumber":"","verboseLogging":false,"name":"","x":490,"y":940,"wires":[["214dc77b.3b8ff8"],[]]},{"id":"214dc77b.3b8ff8","type":"debug","z":"db587536.424098","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":940,"wires":[]},{"id":"c3526664.d4a858","type":"account","phoneNumber":"","password":"","dataStoreDirectory":"","liveServer":false,"accountName":"MAG's Account"}]