examples/03_simple-send.json
[{"id":"e9cd297.b8f50d8","type":"inject","z":"db587536.424098","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"content\":\"Hello MAG\",\"receiverNumber\":\"+4955512345678\"}","payloadType":"json","x":230,"y":720,"wires":[["99a7ac16.92c1d"]]},{"id":"99a7ac16.92c1d","type":"send","z":"db587536.424098","account":"c3526664.d4a858","receiverNumber":"","verboseLogging":false,"name":"","x":430,"y":720,"wires":[["b196724d.a8f87"],[]]},{"id":"b196724d.a8f87","type":"debug","z":"db587536.424098","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":720,"wires":[]},{"id":"c3526664.d4a858","type":"account","phoneNumber":"","password":"","dataStoreDirectory":"","liveServer":false,"accountName":"MAG's Account"}]