examples/04_simple-echo.json
[{"id":"554a3a9d.7ac7a4","type":"receive","z":"db587536.424098","account":"c3526664.d4a858","downloadDirectory":"","verboseLogging":false,"name":"","x":230,"y":940,"wires":[["6b6135df.3bdb2c"],[]]},{"id":"332bb5a3.be190a","type":"send","z":"db587536.424098","account":"c3526664.d4a858","receiverNumber":"","verboseLogging":false,"name":"","x":630,"y":940,"wires":[[],[]]},{"id":"6b6135df.3bdb2c","type":"function","z":"db587536.424098","name":"","func":"msg.payload.receiverNumber = msg.payload.senderNumber;\ndelete msg.payload.senderNumber;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":940,"wires":[["332bb5a3.be190a"]]},{"id":"c3526664.d4a858","type":"account","phoneNumber":"","password":"","dataStoreDirectory":"","liveServer":false,"accountName":"MAG's Account"}]