examples/05_expire_timeout.json
[{"id":"95bca78f.8604a8","type":"receive","z":"db587536.424098","account":"c3526664.d4a858","downloadDirectory":"","verboseLogging":false,"name":"","x":230,"y":720,"wires":[["e2f174c8.0c7938"],[]]},{"id":"714af9a0.554a98","type":"send","z":"db587536.424098","account":"c3526664.d4a858","receiverNumber":"","verboseLogging":false,"name":"","x":670,"y":780,"wires":[[],[]]},{"id":"33fd41ce.3f743e","type":"inject","z":"db587536.424098","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"content\":\"Hello MAG\"}","payloadType":"json","x":220,"y":780,"wires":[["ecafe917.9fc288"]]},{"id":"e2f174c8.0c7938","type":"change","z":"db587536.424098","name":"","rules":[{"t":"set","p":"expire","pt":"global","to":"payload.expire","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":440,"y":720,"wires":[[]]},{"id":"ecafe917.9fc288","type":"change","z":"db587536.424098","name":"","rules":[{"t":"set","p":"payload.expire","pt":"msg","to":"expire","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":780,"wires":[["714af9a0.554a98"]]},{"id":"c3526664.d4a858","type":"account","phoneNumber":"","password":"","dataStoreDirectory":"","liveServer":false,"accountName":"MAG's Account"}]